<app-header></app-header>
<div class='header2'>
    <figure class="figure_image">D</figure>
    <p id="name_figure">Design Board 2021</p><img id="image_more" src="assets/SVG/icon_options.svg" alt="">
    <button class="btn_images">Images</button>
    <button class="btn_proyects">Projects</button>
</div>
<div class="all_images">
    <nav class="nav_images">
        <p id="title_all">All images</p>
        <select id="select_images" name="images_op">

            <option>Last Created</option>
            
            <option>Last Modified</option>
            
            <option>Last Opened</option>

            <option>Alphabetically</option>
            
        </select>

        <button class="btn_1"  (click)='!images_user'></button>
        <button class="btn_2"  (click)='images_user2=!images_user2'></button>
    </nav>

    <div *ngIf="images_user" class="cataloge_all" >
        <button id="add_image"><img style="height: 7vh;" src="assets/SVG/icon_plus_white.svg" alt=""></button>
        <app-items style="display: flex;"></app-items>
    </div>

    <div *ngIf="images_user2" class="cataloge_list">
        <nav>
            

        </nav>
        <app-items-list></app-items-list>

    </div>

</div>
