<section class="container" id="container">
  <nav class="options_container">
    <ol type="A">
      <li id="option_1"><a href="#" >A</a></li>
      <li id="option_2"><a href="#">B</a></li>
      <li id="option_3"><a href="#">C</a></li>
      <li id="option_4"><a (click)='category1=!category1'>D</a></li>
      <li id="option_5"><a href="#">E</a></li>
      <li id="option_6"><a href="#"><img id="img_icon_more" src="../assets/SVG/icon_plus_grey.svg" alt=""></a></li>
    </ol>
  </nav>

  <div class="container_categories" *ngIf='category1'>
    <app-category-d></app-category-d>
  </div>
     





</section>