.container{
    width: 100vw;
    height: 100vh;
    background:#F2F2F2;
    overflow:hidden;
    display: flex;
}
.options_container{
    overflow-y: scroll;
    height: 100vh;
    width: 5.5vw;
    padding-top: 3vh;
    padding-left: 0.8vw;
    justify-content: center;
    display: flex;
    flex-direction: row;
    font-size: 1.25em;
}

.options_container::-webkit-scrollbar {
    -webkit-appearance: none;
}

.options_container::-webkit-scrollbar:vertical {
    width:0.5vw;
}

.options_container::-webkit-scrollbar-button:increment,.contenedor::-webkit-scrollbar-button {
    display: none;
} 

.options_container::-webkit-scrollbar:horizontal {
    height: 4vh;
}

.options_container::-webkit-scrollbar-thumb {
    background-color: #F2F2F2;
}
.options_container::-webkit-scrollbar-track {
    border-radius: 10px;  
}
ol{
    list-style-type: none;
    padding: 0;
    margin: 0;
}
li{
    height: 6vh;
    width: 2.7vw;
    margin: 3vh 0;
    padding:1vh 0 0 0;
    text-align: center;
    border-radius: 1000px;
}
li:Hover{
    cursor:pointer;
}
li a{
    color: #FFFFFF;
    height: 6vh;
    width: 2.7vw;
    padding: 1vh 0.5vw;
    border-radius: 1000px;
}
a:link, a:visited, a:active {
    text-decoration:none;
}
#option_1{
    background: #E96D28;
}
#option_2{
    background: #F4CC07;
}
#option_3{
    background: #6EE310;
}
#option_4{
    background: #70E4C1;
}
#option_5{
    background: #4587E3;
}
#option_6{
    padding: 0.8vh 0vw;
   
}
#img_icon_more{
    height: 3vh;
    width: 1vw;
}
.container_categories{
    width: 94vw;
    height: 99vh;
    margin-left: 0.3vw;
    display: flex;
    flex-direction: column;
    background-image: url('src/assets/PNG/fnd.png');
    background-size: 100% 135%;
    background-repeat: no-repeat;
}

