@font-face {
    font-family: 'SFProDisplay-Bold';
    src: url('assets/Font/SFProDisplay/SFProDisplay-Bold.ttf') format("opentype");
}
@font-face {
    font-family: 'SFProDisplay';
    src: url('assets/Font/SFProDisplay/SFProDisplay-Regular.ttf') format("opentype");
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'SFProDisplay';
    
  }
  .cataloge_all::-webkit-scrollbar {
    -webkit-appearance: none;
}

.cataloge_all::-webkit-scrollbar:vertical {
    width:0.5vw;
}

.cataloge_all::-webkit-scrollbar-thumb {
    background-color: #F2F2F2;
} 
#add_image{
    height: 35vh;
    width: 11.5vw;
    border: 0;
    background-color: #4587E3;
    border-radius: 5px;
} 
.cataloge_list{
    height: 65vh;
    width: 87vw;
    background-color: #F2F2F2;
    position: absolute;
    z-index: 1;
    margin-left: 1vw;
    display: grid;
    overflow-y: scroll;
    padding:1vh 1vw;
    grid-template-columns: repeat(5, 1fr);
    /* grid-template-rows: repeat(10,35vh); */
    grid-gap: 1.3vh;
    grid-row: auto;
}
.cataloge_list::-webkit-scrollbar {
    -webkit-appearance: none;
}

.cataloge_list::-webkit-scrollbar:vertical {
    width:0.5vw;
}

.cataloge_list::-webkit-scrollbar-thumb {
    background-color: #F2F2F2;
} 
